<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleJspServletDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.user.cycle.UserController</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.customer.cycle.CustomerController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehicleController</display-name>
    <servlet-name>VehicleController</servlet-name>
    <servlet-class>com.vehicle.cycle.VehicleController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TransporterController</display-name>
    <servlet-name>TransporterController</servlet-name>
    <servlet-class>com.transporter.cycle.UserController</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>RateController</display-name>
    <servlet-name>RateController</servlet-name>
    <servlet-class>com.rate.cycle.RateController</servlet-class>
  </servlet>
     <servlet>
    <description></description>
    <display-name>ConsignmentController</display-name>
    <servlet-name>ConsignmentController</servlet-name>
    <servlet-class>com.consignment.cycle.ConsignmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>VehicleController</servlet-name>
    <url-pattern>/VehicleController</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>TransporterController</servlet-name>
    <url-pattern>/TransporterController</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>RateController</servlet-name>
    <url-pattern>/RateController</url-pattern>
  </servlet-mapping>
         <servlet-mapping>
    <servlet-name>ConsignmentController</servlet-name>
    <url-pattern>/ConsignmentController</url-pattern>
  </servlet-mapping>
</web-app>